In [2]:
import pandas as pd
import numpy as np
from __future__ import division

In [3]:
matchInfo = pd.read_csv("Datasets/matches.csv")
ballInfo = pd.read_csv("Datasets/deliveries.csv")

In [8]:
# Batsman inconsistency 
# Inconsistency is the standard deviation of all individual scores (both outs and not out scores)
# Player should score atleast 1000 runs and played atleast 15  matches
batsmanRuns = ballInfo[['batsman','match_id','batsman_runs']]
batsmanRuns = batsmanRuns.groupby(['batsman','match_id'],as_index=False)['batsman_runs'].sum()
matchesPlayed = batsmanRuns.groupby(['batsman'],as_index=False)['match_id'].count()
matchesPlayed = matchesPlayed.rename(index=str, columns={"match_id": "matches_played"})
filteredPlayers = matchesPlayed[matchesPlayed['matches_played'] > 1]
filteredPlayers = filteredPlayers['batsman']
batsmanRuns = batsmanRuns.loc[batsmanRuns['batsman'].isin(filteredPlayers)]
batsmanRuns = batsmanRuns[['batsman','batsman_runs']]
batsmanStd = batsmanRuns.groupby(['batsman'])['batsman_runs'].std()
batsmanStd = batsmanStd.reset_index()
batsmanStd = batsmanStd.rename(index=str, columns={"batsman_runs": "inconsistency (std)"})

batsmanRuns = ballInfo.groupby(['batsman'],as_index=False).agg({"batsman_runs": sum, "match_id": lambda x: x.nunique()})
batsmanRuns = batsmanRuns.rename(index=str, columns={"batsman_runs": "total_runs", "match_id": "matches_played"})
dismissalInfo = ballInfo['player_dismissed']
dismissalInfo = dismissalInfo.dropna(axis=0, how='any')
batsmanDismissal = pd.DataFrame({"batsman": dismissalInfo})
batsmanDismissal["dismissed"] = batsmanDismissal.groupby('batsman')['batsman'].transform("count")
batsmanDismissal = batsmanDismissal.drop_duplicates(subset='batsman',keep='last')
batsmanStats = pd.merge(batsmanRuns, batsmanDismissal, on=['batsman'])
batsmanStats["avg"] = batsmanStats.apply(lambda x: x["total_runs"]/x["dismissed"],axis=1)

batsmanConsistency = pd.merge(batsmanStd, batsmanStats, on=['batsman'])
batsmanConsistency = batsmanConsistency.sort_values(['inconsistency (std)','matches_played'], ascending=[0,0])
batsmanConsistency = batsmanConsistency[batsmanConsistency['matches_played'] > 15]
batsmanConsistency = batsmanConsistency[batsmanConsistency['total_runs'] > 1000]

In [9]:
batsmanConsistency.sort_values('inconsistency (std)', ascending=True)

,batsman,inconsistency (std),total_runs,matches_played,dismissed,avg
262,RA Jadeja,12.026445,1574,98,68,23.147059
124,IK Pathan,12.595426,1148,81,52,22.076923
85,DJ Bravo,15.300216,1262,81,55,22.945455
320,SS Tiwary,16.296362,1224,63,44,27.818182
180,LRPL Taylor,16.729536,1017,54,40,25.425000
239,PA Patel,17.215130,1927,100,91,21.175824
206,MK Tiwary,17.547192,1324,66,46,28.782609
215,MS Dhoni,17.905640,3270,128,83,39.397590
369,Yuvraj Singh,17.986371,2339,105,92,25.423913
154,KA Pollard,18.033056,1959,96,68,28.808824
158,KD Karthik,18.277261,2542,121,107,23.757009
232,NV Ojha,18.468519,1474,88,70,21.057143
88,DJ Hussey,18.484878,1322,61,49,26.979592
59,BJ Hodge,19.182018,1400,63,42,33.333333
41,AT Rayudu,19.370588,2325,100,84,27.678571
362,WP Saha,19.439372,1323,67,51,25.941176
255,R Dravid,19.519692,2174,82,77,28.233766
323,SV Samson,19.906519,1040,48,42,24.761905
279,RV Uthappa,20.343033,3390,130,115,29.478261
366,YK Pathan,20.458590,2779,122,90,30.877778
316,SPD Smith,20.481869,1241,47,34,36.500000
105,F du Plessis,20.498780,1287,45,42,30.642857
148,JP Duminy,20.675190,1993,73,50,39.860000
281,S Badrinath,21.095445,1441,65,47,30.659574
157,KC Sangakkara,21.426903,1687,68,65,25.953846
343,TM Dilshan,21.940002,1153,50,43,26.813953
166,KP Pietersen,22.021833,1001,36,28,35.750000
95,DPMD Jayawardene,22.158076,1808,78,64,28.250000
283,S Dhawan,22.358255,3082,112,96,32.104167
205,MK Pandey,22.402904,1827,83,70,26.100000
143,JH Kallis,22.427552,2427,95,85,28.552941
317,SR Tendulkar,22.656537,2334,78,69,33.826087
79,DA Miller,22.765322,1480,60,42,35.238095
96,DR Smith,22.819861,2146,77,73,29.397260
301,SC Ganguly,23.219331,1349,56,53,25.452830
305,SK Raina,23.506853,4106,143,123,33.382114
29,AJ Finch,23.743845,1304,51,47,27.744681
108,G Gambhir,24.247708,3634,130,119,30.537815
189,M Vijay,24.613525,2511,99,95,26.431579
20,AC Gilchrist,24.645714,2069,80,76,27.223684
265,RG Sharma,24.707325,3874,137,115,33.686957
318,SR Watson,25.357031,2557,91,79,32.367089
207,ML Hayden,26.457342,1107,32,31,35.709677
351,V Kohli,26.866871,4115,131,108,38.101852
32,AM Rahane,27.280679,2675,89,76,35.197368
55,BB McCullum,27.415986,2435,92,87,27.988506
352,V Sehwag,27.529060,2728,104,99,27.555556
18,AB de Villiers,27.572463,3270,109,83,39.397590
198,MEK Hussey,29.156736,1977,58,51,38.764706
80,DA Warner,29.411004,3373,100,89,37.898876
303,SE Marsh,29.617341,2225,61,55,40.454545
68,CH Gayle,35.567223,3451,91,80,43.137500

In [11]:
# Highest contribution(percent of runs) in partnership

strikerRuns = ballInfo.groupby(['batsman'],as_index=False)['total_runs'].sum()
nonStrikerRuns = ballInfo.groupby(['non_striker'],as_index=False)['total_runs'].sum()
strikerRuns = strikerRuns.rename(index=str, columns={"batsman": "player"})
nonStrikerRuns = nonStrikerRuns.rename(index=str, columns={"non_striker": "player"})
partnerShip = pd.merge(strikerRuns,nonStrikerRuns,on=['player'])
partnerShip["total_runs"] = partnerShip.apply(lambda x: x['total_runs_x'] + x['total_runs_y'],axis=1)
partnerShip = partnerShip.drop(['total_runs_x','total_runs_y'],axis=1)
batsmanRuns = ballInfo.groupby(['batsman'],as_index=False).agg({"batsman_runs": sum})
batsmanRuns = batsmanRuns.rename(index=str, columns={"batsman": "player"})
partnerShip = pd.merge(partnerShip,batsmanRuns,on=['player'])
partnerShip["percent"] = partnerShip.apply(lambda x: x['batsman_runs']*100/x['total_runs'],axis=1)

partnerShip = partnerShip.sort_values("total_runs",ascending=False)

In [12]:
partnerShip.head(n=20)

             player  total_runs  batsman_runs    percent
402         V Kohli        8729          4115  47.141712
349        SK Raina        8349          4106  49.179542
124       G Gambhir        7971          3634  45.590265
300       RG Sharma        7789          3874  49.736808
322        S Dhawan        6936          3082  44.434833
317      RV Uthappa        6772          3390  50.059067
240        MS Dhoni        6473          3270  50.517534
20   AB de Villiers        6468          3270  50.556586
92        DA Warner        6274          3373  53.761556
75         CH Gayle        6246          3451  55.251361
34        AM Rahane        6010          2675  44.509151
162       JH Kallis        5427          2427  44.720840
363    SR Tendulkar        5368          2334  43.479881
213         M Vijay        5300          2511  47.377358
420       YK Pathan        5299          2779  52.443857
179      KD Karthik        5294          2542  48.016623
59      BB McCullum        5224          2435  46.611792
403        V Sehwag        5157          2728  52.898972
44        AT Rayudu        5024          2325  46.277866
364       SR Watson        4841          2557  52.819665

In [15]:
# Highest contribution to team (Total team runs / Player runs)
# Player should play atleast 15 matches

teamRuns = ballInfo.groupby(['match_id','inning'], as_index=False).agg({"total_runs": sum})
playerRuns = ballInfo.groupby(['match_id','inning','batsman'],as_index=False).agg({"batsman_runs": sum})
playerContribution = pd.merge(teamRuns,playerRuns,on=['match_id','inning'])
playerContribution["contribution(%)"] = playerContribution.apply(lambda x: x["batsman_runs"]*100/x["total_runs"],axis=1)
playerContribution = playerContribution.groupby(['batsman'],as_index=False).agg({"contribution(%)": np.mean, "batsman_runs": sum, "match_id": lambda x: x.nunique()})
playerContribution = playerContribution.rename(index=str, columns={"match_id": "matches_played"})
playerContribution = playerContribution.sort_values('contribution(%)',ascending=False)

playerContribution = playerContribution[playerContribution['matches_played'] > 15]

In [16]:
playerContribution.head(n=20)

            batsman  batsman_runs  matches_played  contribution(%)
204     LMP Simmons           942              22        25.310098
77         CH Gayle          3451              91        24.981805
352        SE Marsh          2225              61        23.208250
94        DA Warner          3373             100        21.209335
227      MEK Hussey          1977              58        20.725565
236       ML Hayden          1107              32        20.197821
409         V Kohli          4115             131        20.181374
35        AM Rahane          2675              89        19.394162
368    SR Tendulkar          2334              78        19.241636
367       SPD Smith          1241              47        19.215368
191    KP Pietersen          1001              36        19.150549
126       G Gambhir          3634             130        18.793559
369       SR Watson          2557              91        18.734918
21   AB de Villiers          3270             109        18.480006
123    F du Plessis          1287              45        18.471740
292        R Dravid          2174              82        18.405396
287       Q de Kock           726              26        18.219499
354        SK Raina          4106             143        18.177366
305       RG Sharma          3874             137        17.979214
322      RV Uthappa          3390             130        17.709689

In [5]:
# Highest consecutive number of matches taking atleast 1 wicket

notbowlerDismissals = ['run out','hit wicket','obstructing the field','hit wicket','retired hurt']
dismissalInfo = ballInfo[['match_id','bowler','dismissal_kind']]
dismissalInfo = dismissalInfo[~dismissalInfo['dismissal_kind'].isin(notbowlerDismissals)]
dismissalInfo = dismissalInfo.fillna(0)
dismissalInfo['dismissal_kind'] = dismissalInfo['dismissal_kind'].replace(['caught', 'bowled', 'lbw', 'stumped','caught and bowled'], 1)
consistentBowler = dismissalInfo.groupby(['bowler','match_id'],as_index=False)['dismissal_kind'].sum()
consistentBowler = consistentBowler.sort_values(['bowler','match_id'], ascending=[1,1])

consistency = pd.DataFrame(columns=['bowler', 'consec_matches'])
playerMax = 0
currMax = 0
startIdx = 0
for i in range(0, len(consistentBowler)):
    if i == 0:
        if consistentBowler.loc[i,'dismissal_kind'] > 0:
            currMax = currMax + 1
    elif consistentBowler.loc[i,'bowler'] == consistentBowler.loc[i-1,'bowler']:
        if consistentBowler.loc[i,'dismissal_kind'] == 0:
            if playerMax < currMax:
                playerMax = currMax
            currMax = 0;
        else:
            currMax = currMax + 1
    else:
        consistency.loc[startIdx,"bowler"] = consistentBowler.loc[i-1, 'bowler'];
        consistency.loc[startIdx,"consec_matches"] = playerMax
        startIdx = startIdx + 1
        playerMax = 0
        currMax = 0

notbowlerDismissals = ['run out','hit wicket','obstructing the field','hit wicket','retired hurt']
dismissalInfo = ballInfo[['match_id','bowler','dismissal_kind']]
dismissalInfo = dismissalInfo[~dismissalInfo['dismissal_kind'].isin(notbowlerDismissals)]
dismissalInfo = dismissalInfo.fillna(0)
dismissalInfo['dismissal_kind'] = dismissalInfo['dismissal_kind'].replace(['caught', 'bowled', 'lbw', 'stumped','caught and bowled'], 1)
dismissalInfo = dismissalInfo.groupby(['bowler'],as_index=False).agg({"dismissal_kind": sum, "match_id": lambda x: x.nunique()})
dismissalInfo = dismissalInfo.rename(index=str, columns={"dismissal_kind": "total_wickets", "match_id": "matches_played"})

consistency = pd.merge(consistency,dismissalInfo, on=["bowler"])

consistency = consistency[consistency['matches_played'] > 10]
consistency = consistency.sort_values('consec_matches', ascending=False)
consistency

              bowler consec_matches  total_wickets  matches_played
80          DJ Bravo             24            122             103
229    R Vinay Kumar             15            101             101
169         M Morkel             14             77              70
6            A Nehra             13             98              82
58     BW Hilfenhaus             12             22              17
276       SL Malinga             12            143              98
215          PP Ojha             11             89              90
17          AB Dinda             10             68              72
235        RJ Harris             10             45              37
115      Imran Tahir             10             29              20
295  Shakib Al Hasan             10             43              41
4           A Mishra             10            124             112
331        YS Chahal             10             56              42
47           B Kumar              9             85              76
175         MA Starc              9             34              26
185        MM Sharma              9             70              61
325       WPUJC Vaas              9             18              13
247        S Aravind              9             40              28
109  Harbhajan Singh              9            118             123
202          P Awana              8             39              33
177     MC Henriques              8             37              43
219         R Ashwin              8            100             108
238         RP Singh              8             90              82
184         MM Patel              8             73              61
135      JP Faulkner              8             53              52
282        SP Narine              8             85              66
285        SR Watson              8             81              86
318         VR Aaron              8             31              34
136         JR Hopes              7             14              20
179       MG Johnson              7             53              43
..               ...            ...            ...             ...
289        STR Binny              2             17              53
320         VS Malik              2              6              13
316         V Sehwag              2              6              15
5           A Mithun              2              7              16
269       SC Ganguly              2             10              20
218    Parvez Rasool              2              4              11
151     KP Pietersen              2              7              13
43           B Akhil              2              6              13
164        LR Shukla              2             15              27
241         RR Powar              2             13              26
1         A Chandila              2             11              12
251           S Kaul              2              6              11
29          AM Nayar              2              9              19
260          S Tyagi              2              6              14
107        HH Pandya              2              4              18
150       KP Appanna              2              9              13
267        SB Styris              2              8              11
217     Pankaj Singh              2             11              17
204           P Negi              2             14              24
50          BA Bhatt              2             12              15
82          DJ Hooda              1              4              13
328  Y Venugopal Rao              1              6              20
133        JO Holder              1              5              11
83         DJ Hussey              1              8              26
225        R Sathish              1              3              14
26        AG Murtaza              1              9              12
125         JDP Oram              1              9              14
146        KH Pandya              1              6              11
28        AL Menaria              1              3              12
314          V Kohli              1              4              26

[161 rows x 4 columns]

In [9]:
# Highest player contribution (Player Wickets / Total Team Wickets)
# Atleast should have played 10 matches

bowlerContributionInfo = ballInfo[['match_id','inning','bowler','dismissal_kind']]
bowlerContributionInfo['dismissal_kind'] = bowlerContributionInfo['dismissal_kind'].fillna(0)

teamWktsInfo = bowlerContributionInfo
teamWktsInfo['dismissal_kind'] = teamWktsInfo['dismissal_kind'].replace(['caught', 'bowled', 'run out', 'lbw', 'retired hurt', 'stumped','caught and bowled', 'hit wicket', 'obstructing the field'],1)
teamWkts = teamWktsInfo.groupby(['match_id','inning'],as_index=False)['dismissal_kind'].sum()

playerWktsInfo = bowlerContributionInfo
playerWktsInfo['dismissal_kind'] = playerWktsInfo['dismissal_kind'].replace(['caught', 'bowled', 'lbw', 'stumped','caught and bowled', 'hit wicket'],1)
playerWktsInfo['dismissal_kind'] = playerWktsInfo['dismissal_kind'].replace(['run out', 'retired hurt', 'hit wicket'],0)
playerWkts = playerWktsInfo.groupby(['match_id','inning','bowler'],as_index=False)['dismissal_kind'].sum()

teamWkts = teamWkts.rename(index=str, columns={"dismissal_kind": "team_wickets"})
playerWkts = playerWkts.rename(index=str, columns={"dismissal_kind": "player_wickets"})
contribution = pd.merge(teamWkts,playerWkts,on=['match_id','inning'])

def bowlerCntr(x):
    if x["team_wickets"] == 0:
        return 0.0
    else:
        return x["player_wickets"]/x["team_wickets"]

contribution["contribution"] = contribution.apply(bowlerCntr, axis=1)
contributionInfo = contribution.groupby(['bowler'],as_index=False)['contribution'].mean()

notbowlerDismissals = ['run out','hit wicket','obstructing the field','hit wicket','retired hurt']
dismissalInfo = ballInfo[['match_id','bowler','dismissal_kind']]
dismissalInfo = dismissalInfo[~dismissalInfo['dismissal_kind'].isin(notbowlerDismissals)]
dismissalInfo = dismissalInfo.fillna(0)
dismissalInfo['dismissal_kind'] = dismissalInfo['dismissal_kind'].replace(['caught', 'bowled', 'lbw', 'stumped','caught and bowled'], 1)
dismissalInfo = dismissalInfo.groupby(['bowler'],as_index=False).agg({"dismissal_kind": sum, "match_id": lambda x: x.nunique()})
dismissalInfo = dismissalInfo.rename(index=str, columns={"dismissal_kind": "total_wickets", "match_id": "matches_played"})

contributionInfo = pd.merge(contributionInfo,dismissalInfo, on=["bowler"])

contributionInfo = contributionInfo.sort_values('contribution',ascending=False)
contributionInfo = contributionInfo[contributionInfo['matches_played'] > 10]
contributionInfo

/Users/suribabu/Projects/Anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/suribabu/Projects/Anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/suribabu/Projects/Anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/suribabu/Projects/Anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                bowler  contribution  total_wickets  matches_played
224          R Rampaul      0.289621             16              12
301      Sohail Tanvir      0.266667             22              11
276         SL Malinga      0.265602            143              98
325         WPUJC Vaas      0.261142             18              13
154      KW Richardson      0.256746             18              14
79        DE Bollinger      0.256526             37              27
115        Imran Tahir      0.256012             29              20
202            P Awana      0.251431             39              33
243          RS Bopara      0.244728             11              14
324         WD Parnell      0.242918             26              26
232   RE van der Merwe      0.240646             21              21
292     Sandeep Sharma      0.240629             46              39
42       Azhar Mahmood      0.239113             29              23
182     MJ McClenaghan      0.239011             34              26
64           CH Morris      0.236200             42              39
200    NM Coulter-Nile      0.235317             20              17
247          S Aravind      0.234935             40              28
282          SP Narine      0.234488             85              66
8              A Singh      0.234300             28              23
331          YS Chahal      0.231803             56              42
251             S Kaul      0.231169              6              11
20           AC Thomas      0.228651             14              15
58       BW Hilfenhaus      0.227591             22              17
295    Shakib Al Hasan      0.225726             43              41
135        JP Faulkner      0.224409             53              52
333             Z Khan      0.223480             92              88
148          KK Cooper      0.222222             33              25
226           R Sharma      0.222105             40              44
178        MF Maharoof      0.221647             27              20
194  Mustafizur Rahman      0.221503             17              16
..                 ...           ...            ...             ...
65         CJ Anderson      0.107576              5              11
92            DR Smith      0.107443             24              37
164          LR Shukla      0.106820             15              27
288      ST Jayasuriya      0.102400             13              21
43             B Akhil      0.101465              6              13
241           RR Powar      0.100458             13              26
63            CH Gayle      0.099700             18              37
86           DJG Sammy      0.097870             11              19
330          YK Pathan      0.097358             40              76
269         SC Ganguly      0.092381             10              20
332       Yuvraj Singh      0.091805             35              69
128       JEC Franklin      0.089603              9              15
146          KH Pandya      0.088961              6              11
5             A Mithun      0.083160              7              16
29            AM Nayar      0.081642              9              19
234          RG Sharma      0.076283             15              30
134          JP Duminy      0.076165             23              47
273           SK Raina      0.073259             24              62
83           DJ Hussey      0.068910              8              26
218      Parvez Rasool      0.068182              4              11
289          STR Binny      0.064975             17              53
328    Y Venugopal Rao      0.056548              6              20
260            S Tyagi      0.056151              6              14
316           V Sehwag      0.050450              6              15
82            DJ Hooda      0.048077              4              13
107          HH Pandya      0.045370              4              18
28          AL Menaria      0.037500              3              12
310         TM Dilshan      0.030603              5              25
102         GJ Maxwell      0.029111              4              25
314            V Kohli      0.024466              4              26

[162 rows x 4 columns]

In [10]:
# If IPL is played as league, with no knockout matches and based on points after playing with all temas (home & away) like BPL, LaLiga
# Which teams would have won IPL

seasonInfo = matchInfo
seasonInfo["matchNum"] = 0
seasonInfo.loc[0,'matchNum'] = 1;
for i in range(1,len(seasonInfo)):
    if seasonInfo.loc[i,'season'] == seasonInfo.loc[i-1,'season']:
        seasonInfo.loc[i,'matchNum'] = seasonInfo.loc[i-1,'matchNum'] + 1
    else:
        seasonInfo.loc[i,'matchNum'] = 1
nonplayOff = {
    2008: 56,
    2009: 56,
    2010: 56,
    2011: 70,
    2012: 72,
    2013: 72,
    2014: 56,
    2015: 56,
    2016: 56,
}
seasonInfo["isPlayOff"] = False
def isPlayOff(x):
    if x['matchNum'] <= nonplayOff[x.season]:
        return False
    else:
        return True
        
seasonInfo["isPlayOff"] = seasonInfo.apply(isPlayOff,axis=1)
seasonInfo = seasonInfo[seasonInfo.isPlayOff == False]

seasonMatches = seasonInfo
seasonMatches.drop(['id'],axis=1,inplace=True)
seasonInfo.reset_index(drop=True)

pointsTable = pd.DataFrame(columns=['season','team','points'])

start=1
for index, row in seasonInfo.iterrows():
    pointsTable.loc[start, 'season'] = row['season']
    if pd.isnull(row['winner']):
        pointsTable.loc[start, 'team'] = row['winner']
        pointsTable.loc[start, 'points'] = 2
        start = start + 1
    else:
        pointsTable.loc[start, 'team'] = row['team1']
        pointsTable.loc[start, 'points'] = 1
        start = start + 1
        pointsTable.loc[start, 'season'] = row['season']
        pointsTable.loc[start, 'team'] = row['team2']
        pointsTable.loc[start, 'points'] = 1

pointsTable = pointsTable.groupby(['season','team'],as_index=False)['points'].sum()

pointsTable.sort_values(['season','points'], ascending=[1,0]).groupby('season').head(1)

/Users/suribabu/Projects/Anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    season                         team  points
4     2008        Kolkata Knight Riders       9
8     2009          Chennai Super Kings      10
21    2010               Mumbai Indians      10
24    2011          Chennai Super Kings      11
35    2012              Deccan Chargers      11
50    2013  Royal Challengers Bangalore      11
59    2014          Sunrisers Hyderabad      10
60    2015          Chennai Super Kings      11
74    2016  Royal Challengers Bangalore      11

In [11]:
# Highest unbeaten/winless streak of all teams

matchResult = pd.DataFrame(columns=['season','team','result'])
start = 0
for i in range(0,len(matchInfo)):
    if pd.isnull(matchInfo.loc[i,"winner"]):
        matchResult.loc[start,"season"] = matchInfo.loc[i,"season"]
        matchResult.loc[start,"match_id"] = matchInfo.loc[i,"id"]
        matchResult.loc[start,"team"] = matchInfo.loc[i,"team1"]
        matchResult.loc[start,'result'] = 'draw'
        start = start + 1
        matchResult.loc[start,"season"] = matchInfo.loc[i,"season"]
        matchResult.loc[start,"match_id"] = matchInfo.loc[i,"id"]
        matchResult.loc[start,"team"] = matchInfo.loc[i,"team2"]
        matchResult.loc[start,'result'] = 'draw'
    else:
        if matchInfo.loc[i, "winner"] == matchInfo.loc[i, "team1"]:
            matchResult.loc[start,"season"] = matchInfo.loc[i,"season"]
            matchResult.loc[start,"match_id"] = matchInfo.loc[i,"id"]
            matchResult.loc[start,"team"] = matchInfo.loc[i,"team1"]
            matchResult.loc[start,'result'] = 'win'
            start = start + 1
            matchResult.loc[start,"season"] = matchInfo.loc[i,"season"]
            matchResult.loc[start,"match_id"] = matchInfo.loc[i,"id"]
            matchResult.loc[start,"team"] = matchInfo.loc[i,"team2"]
            matchResult.loc[start,'result'] = 'loss'
        else:
            matchResult.loc[start,"season"] = matchInfo.loc[i,"season"]
            matchResult.loc[start,"match_id"] = matchInfo.loc[i,"id"]
            matchResult.loc[start,"team"] = matchInfo.loc[i,"team2"]
            matchResult.loc[start,'result'] = 'win'
            start = start + 1
            matchResult.loc[start,"season"] = matchInfo.loc[i,"season"]
            matchResult.loc[start,"match_id"] = matchInfo.loc[i,"id"]
            matchResult.loc[start,"team"] = matchInfo.loc[i,"team2"]
            matchResult.loc[start,'result'] = 'loss'
    start = start + 1

matchResult = matchResult.sort_values(['match_id'], ascending=[1])
teamList = list(matchResult['team'].unique())
resultInfo = []
tempResult = []

for team in teamList:
    resultInfo.append({
            'team': team,
            'unbeaten': 0,
            'winless': 0
        })
    tempResult.append({
            'team': team,
            'prevResult': None,
            'count': 0
        })

for i in range(0,len(matchResult)):
    teamIdx = -1
    for idx in range(len(tempResult)):
        if tempResult[idx]["team"] == matchResult.loc[i,'team']:
            teamIdx = idx
            break
    if tempResult[teamIdx]["prevResult"] == None:
        tempResult[teamIdx]["prevResult"] = matchResult.loc[i,'result']
        tempResult[teamIdx]["count"] = 1
    else:
        if matchResult.loc[i,'result'] != tempResult[teamIdx]["prevResult"]:
            if matchResult.loc[i,'result'] == "draw":
                tempResult[teamIdx]["count"] = tempResult[teamIdx]["count"] + 1
            elif tempResult[teamIdx]["prevResult"] == "draw":
                tempResult[teamIdx]["prevResult"] = matchResult.loc[i,'result']
                tempResult[teamIdx]["count"] = tempResult[teamIdx]["count"] + 1
            else:
                tempResult[teamIdx]["prevResult"] = matchResult.loc[i,'result']
                tempResult[teamIdx]["count"] = 1
        else:
            tempResult[teamIdx]["count"] = tempResult[teamIdx]["count"] + 1
            
    for idx in range(len(resultInfo)):
        if tempResult[teamIdx]["team"] == resultInfo[idx]['team']:
            if tempResult[teamIdx]["prevResult"] == 'win':
                if tempResult[teamIdx]["count"] > resultInfo[idx]["unbeaten"]:
                    resultInfo[idx]["unbeaten"] = tempResult[teamIdx]["count"]
            elif tempResult[teamIdx]["prevResult"] == 'loss':
                if tempResult[teamIdx]["count"] > resultInfo[idx]["winless"]:
                    resultInfo[idx]["winless"] = tempResult[teamIdx]["count"]
            elif tempResult[teamIdx]["prevResult"] == 'draw':
                if tempResult[teamIdx]["count"] > resultInfo[idx]["unbeaten"]:
                    resultInfo[idx]["unbeaten"] = tempResult[teamIdx]["count"]
                if tempResult[teamIdx]["count"] > resultInfo[idx]["winless"]:
                    resultInfo[idx]["winless"] = tempResult[teamIdx]["count"]
            break
            
resultInfo

[{'team': 'Kolkata Knight Riders', 'unbeaten': 4, 'winless': 4},
 {'team': 'Royal Challengers Bangalore', 'unbeaten': 3, 'winless': 3},
 {'team': 'Chennai Super Kings', 'unbeaten': 5, 'winless': 4},
 {'team': 'Kings XI Punjab', 'unbeaten': 3, 'winless': 6},
 {'team': 'Delhi Daredevils', 'unbeaten': 4, 'winless': 6},
 {'team': 'Rajasthan Royals', 'unbeaten': 4, 'winless': 3},
 {'team': 'Mumbai Indians', 'unbeaten': 5, 'winless': 3},
 {'team': 'Deccan Chargers', 'unbeaten': 3, 'winless': 5},
 {'team': 'Pune Warriors', 'unbeaten': 3, 'winless': 8},
 {'team': 'Kochi Tuskers Kerala', 'unbeaten': 2, 'winless': 2},
 {'team': 'Sunrisers Hyderabad', 'unbeaten': 4, 'winless': 2},
 {'team': 'Rising Pune Supergiants', 'unbeaten': 1, 'winless': 2},
 {'team': 'Gujarat Lions', 'unbeaten': 2, 'winless': 2}]

In [14]:
resultInfoStr = '[{"team":"Kolkata Knight Riders","unbeaten":4,"winless":4},{"team":"Royal Challengers Bangalore","unbeaten":3,"winless":3},{"team":"Chennai Super Kings","unbeaten":5,"winless":4},{"team":"Kings XI Punjab","unbeaten":3,"winless":6},{"team":"Delhi Daredevils","unbeaten":4,"winless":6},{"team":"Rajasthan Royals","unbeaten":4,"winless":3},{"team":"Mumbai Indians","unbeaten":5,"winless":3},{"team":"Deccan Chargers","unbeaten":3,"winless":5},{"team":"Pune Warriors","unbeaten":3,"winless":8},{"team":"Kochi Tuskers Kerala","unbeaten":2,"winless":2},{"team":"Sunrisers Hyderabad","unbeaten":4,"winless":2},{"team":"Rising Pune Supergiants","unbeaten":1,"winless":2},{"team":"Gujarat Lions","unbeaten":2,"winless":2}]'
pd.read_json(str(resultInfoStr))

                           team  unbeaten  winless
0         Kolkata Knight Riders         4        4
1   Royal Challengers Bangalore         3        3
2           Chennai Super Kings         5        4
3               Kings XI Punjab         3        6
4              Delhi Daredevils         4        6
5              Rajasthan Royals         4        3
6                Mumbai Indians         5        3
7               Deccan Chargers         3        5
8                 Pune Warriors         3        8
9          Kochi Tuskers Kerala         2        2
10          Sunrisers Hyderabad         4        2
11      Rising Pune Supergiants         1        2
12                Gujarat Lions         2        2